# Xcode user-specific files
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside

# Xcode build output
build/
DerivedData/

# Xcode Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
